@inherits CTBaseComponent

<button class="btn @AddClass" @attributes="@AddAttributes">@ChildContent</button>

@code {
    //CTButton.razor

    // btn-error Color   error color
    // btn-outline Style   outline style
    // btn-dash Style   dash style
    // btn-soft Style   soft style
    // btn-ghost Style   ghost style
    // btn-link Style   looks like a link
    // btn-active Behavior    looks active
    // btn-disabled Behavior    looks disabled
    // btn-xs Size    Extra small size
    // btn-sm Size    Small size
    // btn-md Size    Medium size(default)
    // btn-lg Size    Large size
    // btn-xl Size    Extra large size
    // btn-wide 装饰类 more horizontal padding
    // btn-block 装饰类 Full width
    // btn-square 装饰类	1:1 ratio
    // btn-circle 装饰类	1:1 ratio with rounded corners
}
